#wrapper{
    background-color: #f1f3f9;
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
}

#header{
    width: 100vw;
    height: 35px;
    background-color: #343A47;
}

#content{

}

#loginBox{
    height: 37.5vh;
    width: 13vw;
    min-width: 270px;
    align-content: center;
    position: absolute;
    left: 43.5vw;
    right: 43.5vw;
    background-color: white;
    border-radius: 10px;
    top: 31.25vh
  }
  
  #loginBox form{
    width: 75%;
    position: absolute;
    top: 10vh;
    left: 12.5%;
    
  }
@media (prefers-color-scheme: dark) {
    #wrapper {
      color: #eee;
      background: #2E2E2E;
    }
  
    #wrapper a {
      color: #809fff;
    }
  
    #body{
      color: #eee;
    }
  }